---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter }  = Astro.props;
const rawDate = frontmatter.pubDate;
const d = rawDate instanceof Date ? rawDate : new Date(rawDate);

function ordinal(n: number) {
  return (
    n +
    (["st","nd","rd"][((n+90)%100-10)%10-1] || "th")
  );
}

const formatteddate = `${ordinal(d.getDate())} of ${d.toLocaleString("en", {
  month: "long"
})}, ${d.getFullYear()}`;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h3>{frontmatter.description}</h3>
    <p><b>By {frontmatter.author}</b></p>
    <p><i>{formatteddate}</i></p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

    <div class="tags">
        {frontmatter.tags.map((tag: string) => (
            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>

    <br>
    <slot />
</BaseLayout>

<style>
    a {
        color: #00539F;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #cf1313;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #a3aeb0;
    }
</style>